PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token_here
PUBLIC_POSTHOG_HOST=your_posthog_host_here
GITHUB_BLOG_TOKEN=your_github_token_here
GITHUB_BLOG_OWNER=haguezoum
GITHUB_BLOG_REPO=hassan-aguezoum
GITHUB_BLOG_LABEL=blog
DEPLOY_HOOK=https://api.vercel.com/v1/integrations/deploy/prj.....
